body{
    margin: 0px;
    background-color: rgb(36, 32, 32);
}

.cardstyle{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    border: 2px black solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.787);
     
}

.title{
    font-size:7vw;
    text-align: center;
    padding: 10px;
}

.value{
    font-size: 6vw;
    text-align: center;
}

.navbar{
    display: flex;
    flex:2;
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-size: 4.5vmax;
    background-color: rgb(27, 20, 20);
    
}